
<div class="jumbotron">
    <h1>Kyokushin - Asistencia</h1>
    <p class="lead">Sistema para control de asistencia de alumnos.</p>
    <img src="~/Content/TAZA-SUDAMERICA.jpg" width="100%;" height="100%;" />
</div>
